*.swp
*~
*.pyc
*.rdata

# ignore generated csv & rdata files
gen/*.csv
gen/*.rdata
gen/*.pdf

# ignore giant input tsv file
original_data/training.tsv

description.out
description.aux
description.log
description.pdf
